@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    /* background-color: rgb(77, 134, 134); */
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h2{
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin-left: 27px;
    letter-spacing: 0.1px;
}
.news-background{
    background-color: #fff;
    padding:75px 0;
}   
.news{
    margin:0 auto;
    width: 1450px;
    display: grid;
    grid-template-columns: 996px 416px;
    grid-gap: 38px;
}
    .news .main-news{
        width: 996px;
        display: flex;
        flex-direction: column;
    }
        .news .main-news header{ 
            height: 57px;
        }
        .news .main-news .header-news{
            height:  311px;
            display: flex;
        }
            .news .main-news .header-news .content{
                width: 536px;
                background-color: rgba(48, 63, 134, 0.8);
                display: grid;
                grid-template-columns: 30px 116px 288px 75px 27px;
                grid-template-rows: 28px 95px 22px 107px 15px 29px 15px;
                grid-template-areas: 
                    '. . . . .'
                    '. h h h .'
                    '. . . . .'
                    '. m m m .'
                    '. t . b .'
                ;
                color: #FFFFFF;
            }
                .news .main-news .header-news .content header {
                    grid-area: h;
                    height: 100%;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28px;
                }
                .news .main-news .header-news .content main{
                    grid-area: m;
                    font-weight: 300;
                }
                .news .main-news .header-news .content time{
                    grid-area: t;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 16px;
                    margin-top: 23px;
                }
                .news .main-news .header-news .content .button{
                    grid-area: b;
                    user-select: none;
                    color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 75px;
                    height: 30px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 16px;
                    background:rgba(243, 243, 243, 0.5);
                    margin-top: 15px;
                    transition: .2s;
                    cursor: pointer;
                }
                .news .main-news .header-news .content .button:hover{
                    background:rgb(243, 243, 243);
                }              
            .news .main-news .header-news img{
                width: 460px;
            }
        .news .main-news .other-news{
            height: 542px;
            display: grid;
            grid-template-columns: repeat(3, 320px);
            grid-gap: 16px;
            margin-left: 3px;
            margin-top: 22px;
        }
        .news .main-news .other-news .item{
            display: grid;
            grid-template-rows: 200px 14px auto 29px 16px;
            grid-template-columns: 17px 204px 99px;
            grid-template-areas: 
                'i i i'
                '. . .'
                '. m m'
                '. f f'
                '. . .'
                ;
        }
            .news .main-news .other-news .item img{
                grid-area: i;
            }
            .news .main-news .other-news .item main{
                grid-area: m;
            }
                .news .main-news .other-news .item h4{
                    grid-area: h;
                    margin: 0;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 23px;
                }
                .news .main-news .other-news .item p{
                    margin: 0;
                    margin-top: 11px;
                    font-weight: 300;
                    font-size: 16px;
                }
            .news .main-news .other-news .item footer{
                display: flex;
                grid-area: f;
                justify-content: space-between;
                align-items: center;
            }
                .news .main-news .other-news .item time{
                    font-weight: 300;
                    font-size: 14px;
                }
                .news .main-news .other-news .item .button{
                    padding: 7px;
                    transition: .2s;
                    color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(48, 63, 134, 0.5);
                    cursor: pointer;
                    font-weight: 300;
                    font-size: 14px;
                }
                .news .main-news .other-news .item .button:hover{
                    background: rgb(48, 63, 134);
                    color: #fff;
                }
    .news-list{
        margin: 0 auto;
        width: 416px;
        grid-template-columns: 1fr;
    }
    .news-list header{
        grid-area: h;
        height: 57px;
    }
    .news-list .list{
        grid-area: l;
        padding: 20px 38px;
        background: rgba(48, 63, 134, 0.2);
        display: flex;
        flex-direction: column;
    }
        .news-list .list .item{
            margin-bottom: 10px;   
        }
            .news-list .list .item h5{
                margin: 0;
                font-weight: normal;
                font-size: 16px;
            }
            .news-list .list .item footer{
                justify-content: space-between;
                display: flex;
                align-items: center;
                margin-top: 5px;
                font-weight: 300;
                font-size: 14px;
                line-height: 16px;
                color: rgba(0, 0, 0, 0.5)
            }
            
            .news-list .list .item footer .button{
                background: rgba(243, 243, 243, 0.5);
                width: 124px;
                height: 29px;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
                transition: .2s;
                cursor: pointer;
            }
            .news-list .list .item footer .button:hover{
                background: rgb(243, 243, 243);
                color: rgb(0, 0, 0 );
            }
    .news-list .all-news-button{
        margin-left: -5px;
        margin-top: 35px;
        display:flex;
        padding: 5px;
        align-items: center;
        justify-content:start;
        color: rgba(0, 0, 0, 0.5);
        transition: 1s;
        cursor: pointer;
        user-select: none;
    }
    .news-list .all-news-button:hover{
        background: white;
        color: black;
    }  
        .news-list .all-news-button img{
            transition: 1s;
            margin-left: 10px;
            width: 30px;
            height: 10px;
        }
        .news-list .all-news-button:hover img{
            margin-left: 100px;
        }
    .news-list .tags-list{
        grid-area: t;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 420px;
    }
    .news-list .tags-list ul {
        list-style: none;
    }
        .news-list .tags-list ul li{
            width: 200px;
            margin-bottom: 4px;
            font-weight: 300;
            font-size: 14px;
            cursor: pointer;
            padding: 5px;
            transition: .2s;
        }
        .news-list .tags-list ul li:hover{
            background: rgba(48, 63, 134, 0.2);
        }
@media (max-width: 1500px){
    .news{
        width: 1000px;        
        grid-template-columns: 1fr;
    }
    .news-list{
        width: unset;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'h .'
            'l t'
        ;
    }
}