@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: rgb(77, 134, 134);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.news-background{
    height: 1096px;
    background-color: #fff;
    padding-top:75px ;
}   
.news{
    margin:0 auto;
    width: 1450px;
    display: flex;
}
.news>div + div{
    margin-left: 38px;
}

    .main-news{
        width: 996px;
        display: flex;
        flex-direction: column;
    }
        .main-news header{ 
            height: 57px;
        }
            .main-news header h2{
                margin: 0;
                font-weight: 500;
                font-size: 40px;
                line-height: 47px;
                margin-left: 27px;
                letter-spacing: 0.1px;
            }
        .main-news .header-news{
            height:  311px;
            display: flex;
        }
            .main-news .header-news .content{
                width: 536px;
                background-color: rgba(48, 63, 134, 0.8);
                display: grid;
                grid-template-columns: 30px 116px 288px 75px 27px;
                grid-template-rows: 28px 95px 22px 107px 15px 29px 15px;
                grid-template-areas: 
                    '. . . . .'
                    '. h h h .'
                    '. . . . .'
                    '. m m m .'
                    '. t . b .'
                ;
                color: #FFFFFF;
            }
                .main-news .header-news .content header {
                    grid-area: h;
                    height: 100%;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28px;
                }
                .main-news .header-news .content main{
                    grid-area: m;
                    font-weight: 300;
                }
                .main-news .header-news .content time{
                    grid-area: t;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 16px;
                    margin-top: 23px;
                }
                .main-news .header-news .content .button{
                    grid-area: b;
                    color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 75px;
                    height: 30px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 16px;
                    background:rgba(243, 243, 243, 0.5);
                    margin-top: 15px;
                    transition: .2s;
                    cursor: pointer;
                }
                .main-news .header-news .content .button:hover{
                    background:rgb(243, 243, 243);
                }              
            .main-news .header-news img{
                width: 460px;
            }
        .main-news .other-news{
            height: 542px;
            display: grid;
            grid-template-columns: repeat(3, 320px);
            grid-gap: 15px;
            margin-left: 3px;
            margin-top: 22px;
        }
        .main-news .other-news .item{
            display: grid;
            grid-template-rows: 200px 14px 27px 7px 227px 29px 16px;
            grid-template-columns: 17px 204px 92px 7px;
            grid-template-areas: 
                'i i i i'
                '. . . .'
                '. h h .'
                '. . . .'
                '. m m .'
                '. t b .'
                '. . . .'
                ;
        }
            .main-news .other-news .item img{
                grid-area: i;
            }
            .main-news .other-news .item h4{
                grid-area: h;
                margin: 0;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
            }
            .main-news .other-news .item main{
                grid-area: m;
                margin: 0;
                font-weight: 300;
                font-size: 16px;
            }
            .main-news .other-news .item time{
                grid-area: t;
                font-weight: 300;
                font-size: 14px;
                margin-top: 7px;
            }
            .main-news .other-news .item .button{
                grid-area: b;
                color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(48, 63, 134, 0.5);
                font-weight: 300;
                font-size: 14px;
            }
            .main-news .header-news .content .button:hover{
                background:rgb(243, 243, 243);
            }           

    .news-list{
        width: 416px;
    }